@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --whiteColor: #ffffff;
  --primaryColor: #0e949f;
  --secondaryColor: #0a939e;
  --backgroundColor: #dff6ff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}
/* --- header first --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  background-color: var(--backgroundColor);
}
.active {
  color: var(--primaryColor);
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}
.container__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo__header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primaryColor);
}
.burger div {
  width: 25px;
  height: 4px;
  background-color: #000;
  margin: 7px;
  border-radius: 5px;
  transition: all 0.3s;
  z-index: 99;
}
.burger {
  display: none;
  margin-left: 0.1rem;
}

.main__menu {
  display: flex;
}
.main__menu li {
  padding: 6px 16px;
  margin-left: 10px;
}
.myskill__logo {
  display: none;
}
.main__menu li a i {
  display: none;
}
a {
  color: black;
  font-weight: 600;
}
.nav__button {
  display: flex;
  gap: 0.5rem;
}
.nav__button .daftar,
.nav__button .masuk {
  border: 1px solid var(--primaryColor);
  padding: 6px 16px;
  border-radius: 8px;
  outline: none;
}
.daftar {
  color: var(--whiteColor);
  background-color: var(--secondaryColor);
}

/* burger */

/* --- header end --- */

/* media screen 1200px first */
@media screen and (max-width: 1200px) {
}
/* media screen 1200px end */

/* media screen 1000px first */
@media screen and (max-width: 1000px) {
}
/* media screen 1000px end */
/* media screen 825px first */
@media screen and (max-width: 825px) {
  .burger {
    display: block;
  }
  .main__menu .myskill__logo {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    color: var(--primaryColor);
  }
  .main__menu .myskill__logo span {
    font-size: 1.5rem;
  }
  .main__menu .myskill__logo i {
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }
  a {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .main__menu {
    border: 1px solid var(--backgroundColor);
  }
  .main__menu .menu {
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 8px 16px;
  }
  .main__menu li a i {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--primaryColor);
  }
  .main__menu li a span {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgb(10, 147, 158);
    text-transform: capitalize;
    cursor: pointer;
  }

  .main__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    bottom: 0;
    flex-direction: column;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    background-color: var(--whiteColor);
  }
  .main__menu__active {
    transform: translateX(0);
  }
  .main__menu .menu:hover,
  .main__menu .menu:hover span,
  .main__menu .menu:hover i {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
  }
  .main__menu .menu:active,
  .main__menu .menu:active span,
  .main__menu .menu:active i {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
  }
}
/* media screen 825px end */
/* media screen 640px first */
@media screen and (max-width: 640px) {
}
/* media screen 640px end */
